<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <link rel="stylesheet" href="/static/swiper/swiper6.5.7.css">
    <link href="/static/showloading/css/loading.css" rel="stylesheet" media="screen" />
    <style>
      #section{
      	height: 100px;width: 155px;display: inline-block;margin: 5px;border-radius: 8px;
      }
      #real{
      	height: 40px;width: 140px;display: inline-block;margin: 5px;border-radius: 8px;
      }
      .real-number{
      	font-size: 20px;
      }
      .section-text{
      	padding-top: 20px;color: #fff;
      }
      .number{
      	padding-top: 10px;color: #fff;
      }
      #banner{
      	height: 100px;width: 95%;margin-top:50px;border-radius: 8px;background: #fff
      }
      img{
     	height: 100px;width: 100%
      }
      .iconfont{
        padding: 6px;border-bottom: 1px solid #F8F9FD;margin-left:5px  ;height: 30px;vertical-align:middle;
      }
      .icon{
        float: right;height: 15px;width:8px; 
      }
      .btn{
        height: 35px;width: 95%;border: none;border-radius: 4px;background: #4C82FF;color: #fff
      }
    </style>
</head>
<body style="background: #F8F9FD">
<div style="position:fixed;top:0px;width: 100%;left: 0px;height: 50px;background: #3D81FE;text-align: center;background: #F8F9FD;z-index: 99">
	<p class="title">后台管理</p>
</div>
<div class="swiper-container" id="swiper-container">
  <div class="swiper-wrapper" >
    <!-- 主页 -->
    <div class="swiper-slide stop-swiping">
      <div class="swiper-container" id="banner">
      	    <div class="swiper-wrapper">
      	        <div class="swiper-slide" style=""><img  src="/static/chat/img/1.png"></div>
      	        <div class="swiper-slide" style=""><img  src="/static/chat/img/1.png"></div>
      	    </div>	        		
      </div>	
      <div style="width: 100%;text-align: center;margin-top: 10px;background: #fff">
      	<span id="section" style="background: #8D8EFE;">
             <div class="section-text">用户总量</div>
             <div class="number">100</div>
      	</span>
      	<span id="section" style="background: #FC8BB9;">
             <div class="section-text">在线人数</div>
             <div class="number">100</div>
      	</span>
      	<span id="section" style="background: #FED3C2;">
             <div class="section-text">今日下单</div>
             <div class="number">100</div>
      	</span>
      	<span id="section" style="background: #59A4FB;">
      		<div class="section-text">累计交易量</div>
      		<div class="number">100</div>
      	</span>
      </div>
      <div style="width: 100%;margin-top: 10px;background: #fff">
      	<div style="margin-left: 25px"><small>实时概况:</small></div>
      	<span id="real" style="margin-left:25px">
             <div class="">销售额</div>
             <div class="real-number" style="">100</div>
      	</span>
      	<span id="real" style="margin-left:25px">
             <div class="">新增用户</div>
             <div class="real-number">100</div>
      	</span>
      	<span id="real" style="margin-left:25px">
             <div class="">支付订单</div>
             <div class="real-number">100</div>
      	</span>
      	<span id="real" style="margin-left:25px">
             <div class="">下单人数</div>
             <div class="real-number">100</div>
      	</span>
      </div>
      <div style="width: 100%;margin-top: 10px;background: #fff">
             <div class="iconfont" id="user-management"     >用户管理<img class="icon" src="/static/img/back02.png"></div>
             <div class="iconfont" id="Order-management"    >订单管理<img class="icon" src="/static/img/back02.png"></div>
             <div class="iconfont" id="Commodity-management">商品管理<img class="icon" src="/static/img/back02.png"></div>
             <div class="iconfont" id="Transaction-records" >交易记录<img class="icon" src="/static/img/back02.png"></div>
             <div class="iconfont" id="Abnormal-order"      >异常订单<img class="icon" src="/static/img/back02.png"></div>
      </div> 
      <div style="width: 100%;margin-top: 20px;text-align: center;">
             <button class="btn" id="outsign" style="">退出登录</button>
      </div> 
    </div>
    <!-- 第二页 -->
    <div class="swiper-slide">
       <div style="margin:50px 10px 0px 10px">
             <div class="user-management"     >用户管理</div>
             <div class="Order-management"    >订单管理</div>
             <div class="Commodity-management">商品管理</div>
             <div class="Transaction-records" >交易记录</div>
             <div class="Abnormal-order"      >异常订单</div>
       </div>
    </div>
  </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/swiper/swiper6.5.7.js"> </script>   
<script src="/static/js/jquery.min.js"></script>
<script src="/static/showloading/js/loading.js"></script>
<script> 
  var mySwiper1 = new Swiper('#banner',{
       direction : 'horizontal',
       speed:300,
  	   autoplay : {
    	   delay:3000,
         disableOnInteraction: false,
  	   },
    })
  var mySwiper = new Swiper('#swiper-container',{
     noSwiping : true,
     noSwipingClass : 'stop-swiping',
     on: {
      slideChangeTransitionStart: function(){
        //alert(this.activeIndex);
        //当滑动到第一页时改变title
        if (this.activeIndex==0) {
          $('#title').text("我的");
        }
      },
    },

  })
  $('#outsign').click(function(){
       //显示遮罩
        loading.showLoading({
                    type:5,
                    tip:"正在退出"
        })
  $.post('/admin/login/signout',{'status':1}).then(function(res){
             //隐藏遮罩
             loading.hideLoading(); 
             window.location.href="/admin/login";            
  })
})
 $('#user-management').click(function(){
        mySwiper.slideNext();
        $('.title').text("用户管理");
        $('.user-management').show();
        $('.Order-management',).hide();
        $('.Commodity-management').hide();
        $('.Transaction-records').hide();
        $('.Abnormal-order').hide();
  })
</script>
</body>

</html>