<!DOCTYPE html>
<html>
<head>
	<title>我的</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">	
</head>
<body>
    <a href="JavaScript:history.back(-1)"><img src="/static/seach/img/back.png" style="position: absolute;left: 1rem;height: 25px" /></a>
	<h3 style="text-align: center;vertical-align:middle;">个人中心</h3>
	<div class="box" style="height: 40px;border-bottom: solid 1px #D2CCCC;">
		dddd
	</div>
</body>

</html>