<!DOCTYPE html>
<html>
<head>
	<title>用户信息</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/static/chat/css/chat.css">
    <link rel="stylesheet" type="text/css" href="/static/fy/css/fy-alert.css">		
	<link href="/static/showloading/css/loading.css" rel="stylesheet" media="screen" />
	<link rel="stylesheet" href="/static/swiper/swiper6.5.7.css">

</head>
<body>
<div class="swiper-container" id="swiper-container">       
    <div class="swiper-wrapper stop-swiping">
	      <!--  第一页 -->
	    <div class="swiper-slide" data-hash="slide1">
		  <div style="height: auto;background: #EDEDED;border-radius: 8px">
			<div class="info-message" ><div  class="info-message-id-num"><img class="info-message-head-max" src="<?php if(!empty($msg['head_img'])){ echo $msg['head_img']; }else{ echo '无';} ?>" alt="头像"/></div><div class="info-message-id-info"><p><?php if(!empty($msg['username'])){ echo $msg['username']; }else{ echo "无";} ?></p><p><?php if(!empty($msg['sign'])){ echo $msg['sign']; }else{ echo "无";} ?></p> </div><button class="add-user" style="float:right;margin-right: 10px;margin-top: 17px;margin-bottom: 15px;width:80px;height: 35px;border: none;border-radius: 8px;background:#10AED5;color:#fff;">添加好友</button>
			</div>

			<div style="margin-left: 15px;">账户状态:<?php if(!isset($msg['status'])){
			    echo "无";
			}else{  
			   if($msg['status']==0) { 
			   echo "正常";}else{ 
			   echo "封停";}} ?></div>
			<div style="margin-left: 15px;padding-top: 5px;">手机号:<?php if(!empty($msg['phone'])){
			  echo $msg['phone']; }else{
			  echo "无";} ?></div>
			<div style="margin-left: 15px;padding-top: 5px;padding-bottom: 10px;">最近登录时间:<?php if(!empty($msg['last_login_time'])){
			  echo date('Y-m-s h:i:s',$msg['last_login_time']); }else{
			  echo "无";} ?></div>
		  </div>
		</div>
     <!-- 第二页 -->
    <div class="swiper-slide" id="sw02" data-hash="slide2">
        	<a id="return" href="JavaScript:history.back(-1)"><img src="/static/seach/img/back.png" style="position: absolute;left: 1rem;height: 25px;top:17px" /></a> 
	        <h3 style="text-align: center;vertical-align:middle;">申请添加好友</h3>
			  <div style="margin: 20px;">
				<div class="text">
					<small>发送添加好友申请</small>
					<div>
				    <input class="input" id="message"></input>
				    </div>
			    </div>

			    <div class="text">
					<small>设置备注</small>
					<div>
				      <input class="input" id="nickname"></input>
				    </div>
			    </div>

			    <div class="text">
				<small>设置好友权限</small><br/>
				    <div class="div">
			           <div class="div01" style="border-bottom:1px solid #D2CCCC;">
			            聊天和朋友圈动态
			            <img style="vertical-align:middle;float: right;" src="/static/img/check.png">
			           </div>
			           <div class="div01">
			            仅聊天
			            <img style="vertical-align:middle;float: right;" src="/static/img/check.png">
			           </div>
			        </div>
			    </div>

			    <div class="text">
				<small>朋友圈和状态</small><br/>
				    <div class="div">
			           <div class="div01" style="border-bottom:1px solid #D2CCCC;">
			            不让他看我
			            <img style="vertical-align:middle;float: right;" src="/static/img/check.png">
			           </div>
			           <div class="div01">
			           	不看他
			           	<img style="vertical-align:middle;float: right;" src="/static/img/check.png">
			           </div>
			        </div>
			    </div>

			    <div>
			    	<input class="submit" type="submit" name="" value="发送请求">
			    </div>

			</div>
        </div>
      </div>
  </div>

<script src="/static/seach/js/jquery.min.js"></script>
<script src="/static/showloading/js/loading.js"></script>
<script src="/static/fy/js/fy-alert.js"></script>
<script src="/static/swiper/swiper6.5.7.js"> </script> 
<script>
	//配置swiper
	var mySwiper = new Swiper('#swiper-container',{
			noSwiping : true,
			  noSwipingClass : 'stop-swiping',
			   on: {
			    slideChangeTransitionStart: function(){
			      //alert(this.activeIndex);
			      //当滑动到第一页时改变title
			    if (this.activeIndex==0) {
			        $('#title').text("用户信息");
			    }
			  },
			},
			hashNavigation: {
			watchState: true,
		},
    });
    //指定按钮滑动
    $(".add-user").click(function(){
           	  $('#title').text("用户信息");
           	   mySwiper.slideNext();
    })
	$("#return").click(function(){
           	  $('#title').text("用户信息");
           	   mySwiper.slidePrev();
    }) 
    //发送好友请求
    $(".submit").click(function () {
			    //id = (window.localStorage.getItem('user_id'))
				var userid = <?php if(!empty($msg['id'])){ echo $msg['id']; }else{ echo 0;}?> //$(".add-user").attr('data-clipboard-text');
				var message = $("#message").val();
				var nickname = $("#nickname").val();
			    //console.log(message,nickname);
				$.post("/index/index/friendrequest",{
					        "friendid":userid,
							    "message":message,
							    "nickname":nickname
				}).then(function(res){
			            // console.log(res);
			               if(res.status==0){
			                    fyAlert.msg(res.msg,{icon:1,animateType:1} )
			                    //location.href = '/'
			               }
			               if(res.status==1||res.status==2){
			                    fyAlert.msg(res.msg,{icon:3,animateType:3} )
			                                    
			               }


			    })
					
	})   
</script>
</body>
</html>